<!DOCTYPE html>
<html lang="en" ng-app="ShoppingApp" ng-controller="CustomerController as custCtrl">
	<head>
		<title>INFO202 Webpage: Quantity To Purchase</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<script src="js/angular.js"></script>
		<script src="js/angular-resource.js"></script>
		<script src="js/ngStorage.js"></script>
		<script src="js/shopping.js"></script>
	</head>

	<body ng-controller="CartController as cartCtrl">
		<header>
			<nav>
				<ul>
					<li><a href="signedInIndex.html">Home</a></li>
					<li><a href="viewProducts.html">Browse Products</a></li>
					<li><a href="cart.html">View Cart</a></li>
					<li><a href="" ng-click="custCtrl.signOut()">Sign Out</a></li>
				</ul>
			</nav>
<!--			<div ng-include="'menu.html'" ></div>-->
		</header>
		<div id="welcome">{{custCtrl.welcome}}</div>

		<h1>How many do you want to buy?</h1>

		<main>
			<section class="boxes">
            <h2>Product:</h2>

				<table border="0">
					<tbody>
						<tr><th>Product ID:</th><td>{{cartCtrl.selectedProduct.productID}}</td></tr>
						<tr><th>Name: </th><td>{{cartCtrl.selectedProduct.name}}</td></tr>
						<tr><th>Description: </th><td>{{cartCtrl.selectedProduct.description}}</td></tr>
						<tr><th>Price: </th><td>{{cartCtrl.selectedProduct.listPrice | currency}}</td></tr>
						<tr><th>Quantity: Available</th><td>{{cartCtrl.selectedProduct.quantityInStock}}</td></tr>
					</tbody>
				</table>
			</section>

			<section class="boxes">
				<h2>Add to Cart</h2>

				<form ng-submit="cartCtrl.addToCart(quantity)">
					<fieldset class="textInputs">
						<legend>Quantity to Buy</legend>
						<ul>
							<li><label for="quantity">How many?: </label><input type="number" ng-model="quantity" id="quantity" tabindex="1" required placeholder="Please enter quantity">
								<label><input type="submit" value="Add To Cart" id="addToCart" tabindex="2"></label></li>
						</ul>
					</fieldset>
            </form>
			</section>

		</main>

		<footer class="boxes">
			<p>We sell the biggest range of frobnostificators, widgets, and doohickies!</p>
		</footer>

	</body>

</html>
